/* GLOBAL */
body {
  background-color: #3c4042;
  color: #f5f5dc;
  font-family: Arial, sans-serif;
  padding: 0; /* Remove padding from body */
  margin: 0; /* Remove default browser margin */
}

header {
  background-color: #d66853;
  padding: 20px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3);
}

header h1 {
  text-align: center;
  color: #f5f5dc;
}

header a {
  text-align: right;
}

h2 {
  text-align: center;
}

#why figure, iframe {                                                          
 text-align: center;                                                       
 display: flex;
 justify-content: center;
}
footer {
  text-align: center;
}

footer p {
  padding-bottom: 10px;
}

footer a {
  color: #d3d3d3;
}

/* OTHER STYLES */
.video {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%;    /* for 16:9 aspect ratio used for Youtube videos */
}

.video iframe {
  position: absolute;
  top:  0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;

}

.internal-links a:hover {
  color: grey;
}

.gify-embed {
  display: block;
  max-width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  border: none;
  overflow: hidden;
}

.main-text {
  color: #3c4042; /* Change text color to match body background */
  background-color: #f5f5dc; /* Change background color to contrast body background */
  width: 80%;
  max-width: 800px;
  margin: 70px auto;  /* Adjusting top margin to account for fixed header */
  margin-top: 160px;
  padding: 20px;
  border-radius: 10px; /* Added for some stylish roundness */
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.3);
}

#index .main-text {
  margin-top: 170
}

.main-text h2 {
  margin-bottom: 20px;
}

.main-text a {
  color: #d66853;
  text-decoration: none;
  transition: color 0.3s ease;
}

.main-text a:hover {
  color: #3c4042;
  text-decoration: underline;
}

.main-text a:visited {
  color: purple;
}

@media screen and (max-width: 600px) {
  .main-text {
    width: 100%;
  }
}

.tiny-text {
 color: #d3d3d3;
 font-size: 0.9rem;
}

.tiny-text a:hover {
 color: grey;
}

/* Makes exceptions to the rule that links in the main body change color after being visited */
#index .main-text a:visited {
  color: #d66853;
}  

#index a:hover {
  color: #3c4042;
}

.internal-link a:visited {
  color: #d66852;
}

.internal-link a:hover {
  color: #3c4042;
}

.second-h2 {
  padding-top: 40px;
}
/* IMAGES */
.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-top: 2rem;
}

.image-container {
 position: relative; /* positions captions relative to image */
}

#summary .image-container {
  width: 100%;
  padding-top: 0;
}

#summary .image-container img {
  width: 100%;
  height: auto;
  padding-top: -10px;
  margin-top: -35px;
}

.image-container:hover img,
.image-container:focus img {
  filter: brightness (50%);   /* Makes the image darker on hover and focus */
}

.caption {
  position: absolute;
  bottom: 0;
  left; 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 10px;
  box-sizing: border-box;
  opacity: 0;  /* Hides the caption by default */
  transition: opacity 0.3s;   /* Adds a smooth transition effect */
  margin-top: -100%;  /* Negative mnargin to overlay the caption on top of the image */
}

.caption a:hover {
  color: #ffffff;
}

.caption a:visited {
  color: lightgrey;
}

.image-container:hover .caption,
.image-containter:focus, caption {
  opacity: 1; /* makes the caption visible on hover and focus */
}

#about .image-container {
  padding-bottom: 30px;
}

/* HAMBURGER MENU */
header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10;
  background-color: #d66853;
  padding: 20px;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  display: inline-block;
}

nav ul li:hover > ul {
  display: block;
}

nav ul ul {
  display: none;
  position: absolute;
  background-color: #d66853;
}

nav ul ul li {
  display: block;
  padding: 10px;
}

nav a {
  color: #f5f5dc;
  text-decoration: none;
}

nav a:hover {
  color: #3c4042;
  font-weight: bold;
}

/* mobile */
@media screen and (max-width: 600px) {
  nav ul li {
    display: inline;
  }
  .main-text {
    max-width: 80%;
    margin: auto;
    margin-top: 87px;
    padding: auto;
    padding-top: 1rem;
  }
  header {
    max-width: 90;
    padding: 5px;
  }
  header h1 {
    font-size: 1.4rem;
  }
  .tiny-text {
    font-size: 0.7rem;
    padding-top: 0.5rem;
    max-width: 85%;
    display: inline-block;
    text-align: center;
  }
  #desktop-menu {
    display: none;
  }
  #index .main-text h2 {
    font-size: 1.5rem;
  }
}

/* for images on mobile */
img, embed, iframe, object, video {
  max-width: 100%;
}
